@import 'reset';
@import 'font';
body {
    background-color: #A499C0;
    font-family: sf pro display;
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #f9f9fd;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #18aaaa;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: #f9f9fd;
    }
}